# while loop

In [9]:
n = 4 
i = 1
while i < n :
    print(i)
    i = i + 1

1
2
3

In [2]:
n = 5 
i = 1
while i < n :
    print(i)
    i = i + 1
else :
    print('this is my default ')

1
2
3
4
this is my default

In [3]:
n = 6 
i = 1
while i < n :
    print(i)
    i = i + 1 
    if i == 5 :
        break 
else :
    print('this is my default ')

1
2
3
4

# for loop

In [4]:
a = 'ananyo'

In [5]:
for i in a :
    print(i)

a
n
a
n
y
o

In [6]:
l = [2 , 3 ,4 ,5.6 , 'str' , True ]

In [7]:
for i in l :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [10]:
for i in l :
    print(type(i))
else :
    print('this is my defult')

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
this is my defult

In [11]:
for i in l :
    print(type(i))
    if i == 4 :
        break
else :
    print('this is my defult ')

<class 'int'>
<class 'int'>
<class 'int'>

In [12]:
l

[2, 3, 4, 5.6, 'str', True]

In [14]:
for i in l :
    print(type(i))
    if i == 4 :
        continue
    print(i)
else :
    print('this will be executed once for loop will complete itself sucessfully ')

<class 'int'>
2
<class 'int'>
3
<class 'int'>
<class 'float'>
5.6
<class 'str'>
str
<class 'bool'>
True
this will be executed once for loop will complete itself sucessfully